/*------------------Font-Face----------------------*/
@font-face {
	font-family: Raleway-Black;
	src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
	font-family: Raleway-SemiBold;
	src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
	font-family: Raleway-Bold;
	src: url('../fonts/Raleway-Bold.ttf');
}

/*----------------General Styles-------------------*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-image: url('../images/bg-01.jpg');
}

body, html {
	height: 100%;
	font-family: Raleway-SemiBold, sans-serif;
}

a {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #adadad;
}

input:-moz-placeholder {
	color: #adadad;
}

input::-moz-placeholder {
	color: #adadad;
}

input:-ms-input-placeholder {
	color: #adadad;
}

textarea::-webkit-input-placeholder {
	color: #adadad;
}

textarea:-moz-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-input-placeholder {
	color: #adadad;
}

/*-------------------Buttons Styles--------------*/
.container {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.wrap {
	max-width: 960px;
	background: #fff;
	border-radius: 2px;
	padding: 66px 115px 59px 115px;
	position: relative;
}

.form {

	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-title {
	display: block;
	width: 100%;
	font-family: Raleway-Black;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 32px;
}
.wrap-input {
	width: 100%;
	position: relative;
	background-color: transparent;
	margin-bottom: 35px;
}
.label-input {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	color: #555555;
	line-height: 1.5;
}
textarea.input {
	min-height: 162px;
	padding-top: 19px;
	padding-bottom: 13px;
}
.input {
	display: block;
	width: 100%;
	background: #f2f2f2;
	border-radius: 2px;
	font-family: Raleway-SemiBold;
	font-size: 15px;
	color: #686868;
	line-height: 1.2;
	padding: 0 28px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	margin-top: 10px;
	height: 40px;
}
.container-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}
.wrap-form-btn {
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 2px;
	overflow: hidden;
}

.form-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 150px;
	height: 62px;
	font-family: Raleway-Bold;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

/*-------------------Media Query--------------*/
@media (max-width: 992px) {
	.wrap {
		padding: 66px 80px 59px 80px;
	}
}

@media (max-width: 768px) {
	.rs1-wrap-input100 {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.wrap{
		padding: 66px 15px 59px 15px;
	}
}