@{
	Layout = "~/Views/Shared/_Master.cshtml";
}
<form class="form validate-form">
	<span class="form-title">
		Nueva póliza
	</span>

	<div class="wrap-input">
		<span class="label-input">Nombre póliza *</span>
		<input class="input" type="text" id="nombrepoliza" placeholder="Ingrese el nombre">
	</div>

	<div class="wrap-input">
		<span class="label-input">Descripción de la póliza *</span>
		<textarea class="input" id="descpoliza" placeholder="Ingrese la descripción"></textarea>
	</div>

	<div class="wrap-input">
		<span class="label-input">Fecha inicio vigencia *</span>
		<input type="date" id="fechavigencia" />
	</div>
	<div class="wrap-input">
		<span class="label-input">Precio de la póliza *</span>
		<input type="number" id="precio" />
	</div>
	<div class="wrap-input">
		<span class="label-input">Tipo riesgo *</span>
		<select></select>
	</div>

	<div class="container-form-btn">
		<div class="wrap-form-btn">
			<div class="form-bgbtn"></div>
			<button class="btn btn-primary">
				Guardar
			</button>
		</div>
	</div>
</form>
@section Scripts {
	@Scripts.Render("~/bundles/angular");
	@Scripts.Render("~/bundles/angularPolicy")
}
