<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../Content/CustomSite/css/main.css">
	<title>Home - Póliza de Seguros</title>
</head>
<body>
	<div class="container">
		<div class="wrap">
			<form class="form validate-form">
				<span class="contact100-form-title">
					Get in Touch
				</span>

				<div class="wrap-input">
					<span class="label-input">Tell us your name *</span>
					<input class="input" type="text" name="name" placeholder="Enter your name">
				</div>

				<div class="wrap-input">
					<span class="label-input">Enter your email *</span>
					<input class="input" type="text" name="email" placeholder="Enter your email">
				</div>

				<div class="wrap-input">
					<span class="label-input">Your Website</span>
					<input class="input" type="text" name="web" placeholder="http://">
				</div>

				<div class="wrap-input" data-validate="Message is required">
					<span class="label-input">Message</span>
					<textarea class="input" name="message" placeholder="Your message here..."></textarea>
				</div>

				<div class="container-form-btn">
					<div class="wrap-form-btn">
						<div class="form-bgbtn"></div>
						<button class="form-btn">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>